/* Importing roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400');

/* RESET DA PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background: #f7f7f7;
    font: 100%/1.5 "Roboto", Verdana, sans-serif;
    height: 100vh;
}

.big { font-size: 5em; }

.meddium { font-size: 2.5em; }

.middle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.content {
    max-width: 80%;
    margin: 25vh auto;
}

.navbar {
    display: flex;
    background-image: linear-gradient(to right ,#f35626, #feab3a);

    animation: hue 60s infinite linear;
}

.navbar a {
    font-weight: 300;
    color: #F0FFFF;
    text-decoration: none;
    padding: 15px 30px;
}

.hue {
    font-weight: 100;
    color: #f35626;
    -webkit-background-image: linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;

    animation: hue 60s infinite linear;
}

.my-paragraph {
    font-weight: 200;
}

@keyframes hue {
    0% { filter: hue-rotate(0deg) }
    100% { filter: hue-rotate(-360deg) }
}
