* {
    margin-bottom: 40px;
    padding: 25px;
}

.box {
    width: 100px;
    height: 100px;
    background: pink;
}

.retangle {
    width: 100px;
    height: 50px;
    background: pink;
}

.circle {
    width: 100px;
    height: 100px;
    background: pink;
    border-radius: 50%;
}

.oval {
    width: 100px;
    height: 50px;
    background: pink;
    border-radius: 50%;
}
