* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

.jorge {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    animation-name: girando;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes girando {
    0%{
        transform: rotate(0deg);
        width: calc(50% + 200px);
        height: calc(50% + 200px);
    }
    100%{
        transform: rotate(360deg);
        width: calc(50% + 400px);
        height: calc(50% + 400px);
    }
}
